.footer {
  padding: 40px 0;
  background-color: $color-bg-secondary;

  @include laptop-v-view {
    padding: 70px 0;
  }

  @include desktop-view {
    padding: 143px 0;
  }
}

.text {
  font-size: 14px;
  line-height: 14px;
  font-weight: $fw-bold;
  text-align: center;
  color: $color-secondary;
}
